@import "settings";
@import "~foundation-sites/scss/foundation";

@include foundation-everything;

* {
    box-sizing: border-box;
}

.page_container{
    margin: 6vmin 7vmin 3vmin;
    padding: 2vmin;
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    
}

ul#pageselect{
    @extend .pagination;
    @extend .text-center;
    width: 100%
}