@import "settings";
@import "~foundation-sites/scss/foundation";

@include foundation-everything;

* {
    box-sizing: border-box;
}

body{
    background-color: lightgoldenrodyellow;
}

.page_container{
    @extend .column;
    @extend .large-8;
    margin: 2% 16% 1%;
    border: 1px solid black;
}

ul#pageselect{
    @extend .pagination;
    @extend .text-center;
    width: 100%
}