<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="bundle.js" />
<body>
    <div id="content">
    <div class="topics">
        <h1 class="current">WELCOME</h1>
        {{#each topics}}
            {{> topic}}
        {{/each}}
        {{> tutorialtest}}
        {{> talktous}}
    </div>
    <ul id="pageselect">
        <li class="arrow"><a href="#">&laquo;</a></li>
        {{#each topics}}
            <li><a href="#">{{inc @index}}</a></li>
        {{/each}}
        <li class="arrow"><a href="#">&raquo;</a></li>
    </ul>
    </div>
</body>
</html>
