* {
    box-sizing: border-box;
}

.tutorialtest .testquestion, .results, .talk_to_us {
    display: none;
}

.tutorialtest .testquestion.current, .results.done, .talk_to_us.done {
    display: block;
}
